.homeContainer {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 20em;


  width: 100vw;
  height: 100vh;
  background: url(../img/home.jpg) center;
  background-repeat: no-repeat;
  background-size: cover;

  color: aliceblue;

}

.homeContent {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.homeContent span {
  font-size: 6em;
  font-family: 'Rufina', serif;
  line-height: 1.5em;

}

.homeContent p {
  position: static;
  width: 45rem;
}