.navBar {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: rgba(26, 25, 25, 0.924);
}

.logo {
  width: 3em;
  height: 3em;
}

.list {
  display: flex;
  align-items: center;

  list-style: none;
}

.item {
  margin-right: 1em;
}

.item a {
  color: #fff;
  text-decoration: none;
}