.navBar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: rgb(0, 0, 0);

  height: 9vh;



}

.logo {
  width: 4em;
  height: 4em;
}

.navBar ul {
  list-style: none;
 

  display: flex;
}

.navBar li {
  letter-spacing: 0.2em;
  margin-left: 32px;
 
 
}

.navBar li a {
  text-decoration: none;

  color: #fff;
}